/* fonts style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* shared styles */
.display-flex{
  display: flex;
}

.btn-primary{
  background-color: rgba(255, 144, 14, 1);
  font-weight: 600px;
  font-size: 1.25rem;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 20px 45px;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}

main > section{
  margin-top: 130px;
}


/* background styles */
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

/* color dark 02 */
.text-gray{
  color: #424242;
}
/* color dark 03 */
.text-light-gray{
  color: #727272;
}

/* nav bar styles */
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.brand{
  font-weight: bold;
  font-size: 3rem;
}

.nav-link{
  text-decoration: none;
  font-weight: 500px;
}
.navbar{
  justify-content: space-between;
  align-items: center;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* banner style */
.banner-title{
      font-weight: bold;
      font-size: 4rem;
}

.banner-content{
  max-width: 850px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.banner-img{
  width: 100%;
}

/* teams and features style */

.teams{
  align-items: center;
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.our-features{
      margin-left: 130px;
      
}

/* our features */

#quick-list{
  color: #727272;
  font-weight: 500px;
  font-size: 3rem;
}

#features{
  color: rgba(255, 144, 14, 1);
  font-weight: 500px;
  font-size: 3rem;
}

#of-our{
  color: #424242;
  font-weight: 500px;
  font-size: 3rem;
}

.features-title, .features-description{
  margin-bottom: 30px;
}

.features-description{
  font-size: 1rem;
  font-weight: 400px;
}

/* feature style  */

.features-section-title{
  font-weight: 700px;
  font-size: 2.8rem;
  border-left: 5px solid rgba(255, 144, 14, 1);
  padding-left: 30px;
}

.features-section-description{
  color: #727272;
}

.features-card h3{
  font-weight: 600px;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

..features-card p{
  color: #727272;
  font-size: 1rem;
  font-weight: 400px;
}

.features-card{
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  margin-bottom: 20px;
}

.features{
  gap: 160px;
}

/* button badge */

#btn-badge{
  width: 344px;
  height: 200px;
  background-color: rgba(255, 144, 14, 1);
  padding: 30px;
  border-radius: 5px;
  border: none;
  margin-left: -100px;
  margin-top: -100px;
}

#btn-years{
  color: white;
  font-weight: bold;
  font-size: 3.50rem;

}

#btn-text{
  color: white;
  font-size: 1.80rem;
}

/* fact card styles */

.fact-card-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.fact-card{
  border: 1px solid rgba(255, 144, 14, 1);
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
  
  
  }


  .fact-number{
    font-weight: 600px;
    font-size: 2.8rem;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .fact-name{
    margin-bottom: 50px;
  }

  .imag-icon01{
    margin-top: 60px;
  }

  .features02-description{
    margin-top: 30px;
    margin-bottom: 100px;
    font-size: 1rem;
    font-weight: 400px;
    color: #727272;
  }

  .features02-title{
    font-size: 2.8rem;
    font-weight: 700px;
  }

  /* sponsors-styles */
  .sponsors-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
  }

  .sponsors-title{
    font-size: 2.8rem;
    font-weight: 700px;
  }

  .sponsors-description{
    font-size: 1rem;
    color: #727272;
    
  }

  .sponsors-img{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    filter: grayscale(100%);
  }

/* footer style */

.footer{
  width: 1440px;
  height: 70px;
  background-color: #FFF4E7;
  margin-top: 50px;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* responsibe styles */

@media screen and (max-width:576px) {
          .navbar, .nav-links,  .teams{
            flex-direction: column;
          }
          .teams-img-container, .fact-card-container, .sponsors-img{
            grid-template-columns: repeat(1,1fr);
          }

          .sponsors-img{
            justify-content: center;
            gap: 50px;
            margin-left: 80px;
          }

          .fact-card-container{
            justify-content: center;
            margin-left: 80px;
            gap: 30px;
          }
          .our-features{
            margin-left: 20px;
          }
}

/* medium device reponsibe */

@media screen and (min-width:576px) and (max-width:1100px) {
        .teams{
          flex-direction: column;
        }
        .our-features{
          margin-left: 20px;
          margin-top: 50px;
        }
}